$background: #282828;
$background-darker: #1d2021;
$background-lighter: #32302f;
$background1: #3c3836;
$background2: #504945;
$background3: #665c54;
$background4: #7c6f64;

$foreground: #ebdbb2;
$foreground1: #fbf1c7;
$foreground2: #d5c4a1;
$foreground3: #bdae93;
$foreground4: #a89984;

$orange: #fe8019;
$orange-darker: #d65d0e;

$aqua: #8ec07c;
$aqua-darker: #689d6a;

$purple: #d3869b;
$purple-darker: #b16286;

$blue: #83a598;
$blue-darker: #458588;

$yellow: #fabd2f;
$yellow-darker: #d79921;

$green: #b8bb26;
$green-darker: #98971a;

$red: #fb4934;
$red-darker: #cc241d;

$gray: #a89984;
$gray-darker: #928374;

$transparent: rgba(255, 0, 255, 0.1);
